body {
  background: #FFF;
  margin: 30px;
}

#skull {
  position: relative;
  background: transparent;
  width: 30px;
  height: 30px;
  border: 32px solid red;
  border-top: 40px solid transparent;
  border-bottom: 22px solid red;
  border-radius: 30px 30px 15px 15px;
  box-shadow: -40px 45px 0 -40px red,
               40px 45px 0 -40px red,
              -40px 51px 0 -40px red,
              -24px 51px 0 -40px red,
               -8px 51px 0 -40px red,
                8px 51px 0 -40px red,
               24px 51px 0 -40px red,
               40px 51px 0 -40px red,
              -40px 65px 0 -40px red,
              -24px 65px 0 -40px red,
               -8px 65px 0 -40px red,
                8px 65px 0 -40px red,
               24px 65px 0 -40px red,
               40px 65px 0 -40px red,
                0px 24px 0   0px white,
                0px 40px 0   0px red;
}

#skull:before {
  position: absolute;
  top: -60px;
  left: -51px;
  width: 0px;
  height: 0px;
  border: 66px solid red;
  border-bottom: 66px solid transparent;
  border-radius: 66px;
  content: "";
}

#skull:after {
  position: absolute;
  top: -13px;
  left: -33px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 20px;
  box-shadow: 61px 0 0 white,
               4px -1px 0 9px red,
              -2px  4px 0 11px red,
              58px -1px 0 9px red,
              64px  4px 0 11px red;
  content: "";
}